@using Syncfusion.EJ2
@model IEnumerable<ELearning.Application.Student.Queries.StudentDto>


@Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)Model).ActionComplete("actionComplete").Columns(col =>
{

    col.Field("StudentId").HeaderText("StudentId").Visible(false).Add();
    col.Field("FirstName").HeaderText("FirstName").Add();
    col.Field("LastName").HeaderText("LastName").Add();
    col.Field("email").HeaderText("Email").Add();
    col.Field("Telephone").HeaderText("Telephone").Add();
    col.Field("StreetAddress").HeaderText("StreetAddress").Add();

}).AllowPaging(true).AllowSorting(true).AllowFiltering(true).PageSettings(page => page.PageSize(5)).EditSettings(edit =>
{ edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true).Mode(Syncfusion.EJ2.Grids.EditMode.Dialog).Template("#dialogtemplate"); }).Toolbar(new List<string>() { "Add", "Edit", "Delete"}).Render()

<script>
   function actionComplete(args) {
       if (args.requestType === 'beginEdit') {
          var ajax = new ej.base.Ajax({
            url: "/Student/CreatEditpartial", //render the partial view
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ value: args.rowData })
          });
           console.log(args.rowData);
          ajax.send().then(function (data) {
            $("#dialogTemp").html(data); //Render the edit form with selected record
                args.form.elements.namedItem('FirstName').focus();
            }).catch(function (xhr) {
                console.log(xhr);
            });
          }
       if (args.requestType === 'add') {
             var ajax = new ej.base.Ajax({
                 url: "/Student/CreatEditpartial", //render the partial view
                type: "POST",
                contentType: "application/json",
             });
             ajax.send().then(function (data) {
                $("#dialogTemp").html(data); //Render the edit form with selected record
                 args.form.elements.namedItem().focus();
                }).catch(function (xhr) {
                    console.log(xhr);
                });
        }
   }
</script>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>