@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2
@{
    var dateNow = DateTime.Now;
    ViewBag.Title = "Home Page";
}
<div>

    @(Html.EJS().Schedule("schedule")
        .Width("100%")
        .Height("800px")
        .EventSettings(e => e.DataSource(d => d.Url("Home/LoadData").CrudUrl("Home/UpdateData").Adaptor("UrlAdaptor").CrossDomain(true)))
        .SelectedDate(new DateTime(dateNow.Year,dateNow.Month, dateNow.Day))
        .Render()
        )

</div>