@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
    <style>
        table, td, th {  
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 10px;
        }
        .header {
            background-color: black;
            color: white;
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
@RenderBody()
</body>
</html>