@using ReportViewerForMvc
<form style="display: flex;
             font-size: 16px;
             font-weight: bold;">
    <div style="margin: 5px">
        <label>FirstName</label>
        <input name="FirstName" style="height: 30px"/>
    </div>
    <div style="margin: 5px">
        <label>LastName</label>
        <input name="LastName" style="height: 30px"/>
    </div>
    <button style="font-weight: bold">Search</button>
</form>
<div   class="table-responsive" style="    height: 100%;
                                       width: 100%;
                                       max-height: 600px;
                                       overflow: scroll;">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "yes", width = "100%" })
</div>

